#wrapper > #page-content-wrapper > .navbar.table-nav {
    left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled > #page-content-wrapper > .navbar.table-nav {
    left: 50px;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

#wrapper > #page-content-wrapper > form > .navbar.table-nav,
#wrapper > #page-content-wrapper > form > .navbar.table-nav .navbar-form {
    left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled > #page-content-wrapper > form > .navbar.table-nav,
#wrapper > #page-content-wrapper > form > .navbar.table-nav .navbar-form {
    left: 50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper > #page-content-wrapper > form > .navbar.table-nav .navbar-form, 
#wrapper.toggled > #page-content-wrapper > form > .navbar.table-nav .navbar-form {
    margin-right: 50px;
}