<div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
              <table class="table table-striped table-hover input-sm">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th>Total</th>
                    <th>Minority Female</th>
                    <th>Minority Male</th>
                    <th>White Female</th>
                    <th>White Male</th>
                    <th>LGBT</th>
                    <th>Disabled</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>Number of attorneys who serve on the highest governance committee of the firm</td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                  </tr>
                  <tr>
                      <td>Number of lawyers who lead offices</td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                  </tr>
                  <tr>
                      <td>Number of lawyers who lead Firm-wide practice groups or departments</td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                  </tr>
                  <tr>
                        <td>Number of lawyers who lead local office practice groups or departments</td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                  </tr>
                  <tr>
                        <td>Number of lawyers who lead Firm-wide committees</td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                  </tr>
                  <tr>
                      <td>Number of attorneys on the Partner Review Committee or the equivalent</td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                  </tr>
                  <tr>
                      <td>Number of lawyers who serve on the Firm-wide compensation committee</td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                  </tr>
                  <tr>
                    <td>Number of hiring partners or equivalent</td>
                    <td><input type="text" class="form-control input-sm" /></td>
                    <td><input type="text" class="form-control input-sm" /></td>
                    <td><input type="text" class="form-control input-sm" /></td>
                    <td><input type="text" class="form-control input-sm" /></td>
                    <td><input type="text" class="form-control input-sm" /></td>
                    <td><input type="text" class="form-control input-sm" /></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>