<div class="row">
<div class="panel panel-primary">
    <div class="panel-body">
      <table class="table table-striped table-hover input-sm">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Equity Partners</th>
            <th>Non-Equity Partners</th>
            <th>Associates</th>
            <th>Counsel</th>
            <th>Other Lawyers</th>
            <th>Totals</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>American Indian/Alaska Native</td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
          </tr>
          <tr>
              <td>African American</td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
          </tr>
          <tr>
              <td>Asian</td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
          </tr>
          <tr>
              <td>Hispanic/Latino</td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
          </tr>
          <tr>
              <td>Multiracial</td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
          </tr>
          <tr>
              <td>White</td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
          </tr>
          <tr>
              <td>Women</td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
              <td><input type="text" class="form-control input-sm" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>