<div class="row">
        <!-- <div class="panel panel-primary"> -->
            <!-- <div class="panel-body"> -->
              <!-- <table class="table table-striped table-hover input-sm">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th>Total</th>
                    <th>Minority Female</th>
                    <th>Minority Male</th>
                    <th>White Female</th>
                    <th>White Male</th>
                    <th>LGBT</th>
                    <th>Disabled</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>Number of attorneys who serve on the highest governance committee of the firm</td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                  </tr>
                  <tr>
                      <td>Number of lawyers who lead offices</td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                  </tr>
                  <tr>
                      <td>Number of lawyers who lead Firm-wide practice groups or departments</td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                  </tr>
                  <tr>
                      <td>Number of lawyers who lead local office practice groups or departments</td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                  </tr>
                  <tr>
                      <td>Number of lawyers who lead firm-wide committees</td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                  </tr>
                  <tr>
                      <td>Number of attorneys on the Partner Review Committee or the equivalent</td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                  </tr>
                  <tr>
                      <td>Number of lawyers who serve on the firm-wide compensation committee</td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                      <td><input type="text" class="form-control input-sm" /></td>
                  </tr>
                  <tr>
                    <td>Number of hiring partners or equivalent</td>
                    <td><input type="text" class="form-control input-sm" /></td>
                    <td><input type="text" class="form-control input-sm" /></td>
                    <td><input type="text" class="form-control input-sm" /></td>
                    <td><input type="text" class="form-control input-sm" /></td>
                    <td><input type="text" class="form-control input-sm" /></td>
                    <td><input type="text" class="form-control input-sm" /></td>
                    <td><input type="text" class="form-control input-sm" /></td>
                </tr>
                </tbody>
              </table> -->
              <form [formGroup]="myForm">
                <table class="table table-inverse table-bordered table-hover table-striped input-sm">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th *ngFor="let title of firmLead">{{title}}</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="numbers">
                        <tr *ngFor="let address of myForm.controls.numbers.controls; let i=index" [formGroupName]="i">
                            <th>
                                <!-- -->
                                {{sample(i)}} 
                                <!-- {{i}} -->
                            </th>
                            <td><input type='text' class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' pattern="[0-9]*[0-9]" formControlName="MinorityFemale"></td>
                            <td><input type='text' class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' pattern="[0-9]*[0-9]" formControlName="MinorityMale"></td>
                            <td><input type='text' class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' pattern="[0-9]*[0-9]" formControlName="WhiteFemale"></td>
                            <td><input type='text' class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' pattern="[0-9]*[0-9]" formControlName="WhiteMale"></td>
                            <td><input type='text' class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' pattern="[0-9]*[0-9]" formControlName="LGBT"></td>
                            <td><input type='text' class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' pattern="[0-9]*[0-9]" formControlName="Disabled"></td>
                            <td>{{compute(i)}}</td>
                        </tr>
                    </tbody>
                </table>
               </form>
            <!-- </div> -->
          <!-- </div> -->
        </div>