<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#company_profile">Company Profile</a>
    </h4>
  </div>
  <div id="company_profile" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="col-md-6">
        <label class="control-label input-sm">Firm Name</label>
        <input type="text" class="form-control input-sm"/>
      </div>
      <div class="col-md-6">
        <label class="control-label input-sm">Total number of US lawyes, as of December 31, 2017</label>
        <input type="text" class="form-control input-sm"/>
      </div>
      <div class="col-md-6">
        <label class="control-label input-sm">Head of Firm</label>
        <input type="text" class="form-control input-sm"/>
      </div>
      <div class="col-md-6">
        <label class="control-label input-sm">Size category that fits the firm</label>
        <select class="form-control input-sm">
          <option value="">--Select Category---</option>
        </select>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <label class="control-label input-sm">Date of Survey Completion</label>
            <input type="text" class="form-control input-sm"/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="control-label input-sm">Survey Contact Name</label>
            <input type="text" class="form-control input-sm"/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="control-label input-sm">Title</label>
            <input type="text" class="form-control input-sm"/>
          </div>
          <div class="col-md-6">
            <label class="control-label input-sm">Email</label>
            <input type="text" class="form-control input-sm"/>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <label class="control-label input-sm">Total number of lawyers firm-wide as of December 31, 2017</label>
              <input type="text" class="form-control input-sm"/>
            </div>
          </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <label class="control-label input-sm">Is firm women-owned, minority-owned, disabled-owner or LGBT-owned?</label>
            <div class="col-md-12">
              <label><input type="radio" value="Yes" name="owner"/>&nbsp;Yes</label>&nbsp;
              <label><input type="radio" value="No" name="owner"/>&nbsp;No</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="control-label input-sm">Category of Ownership</label>
            <input type="text" class="form-control input-sm"/>
          </div>
          <div class="col-md-6">
            <label class="control-label input-sm">Is the firm Certified?</label>
            <input type="text" class="form-control input-sm"/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="control-label input-sm">Name of certifying entity</label>
            <input type="text" class="form-control input-sm"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>