<div class="row">
    <fieldset [disabled]="isExisting">

    <form [formGroup]="myForm">
        
        <table class="table table-inverse table-bordered table-hover table-striped input-sm">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th *ngFor="let title of firmDemo">{{title}}</th>
                </tr>
            </thead>
            <tbody formArrayName="regions">
                
                <tr *ngFor="let address of myForm.controls.regions.controls; let i=index" [formGroupName]="i">
                    <th>
                        <!-- -->
                        {{sample(i)}}
                        <!-- {{i}} -->
                    </th>
                    <td><input type='text' class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' pattern="[0-9]*[0-9]" formControlName="EP"></td>
                    <td><input type='text' class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' pattern="[0-9]*[0-9]" formControlName="NEP"></td>
                    <td><input type='text' class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' pattern="[0-9]*[0-9]" formControlName="AS"></td>
                    <td><input type='text' class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' pattern="[0-9]*[0-9]" formControlName="CO"></td>
                    <td><input type='text' class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' pattern="[0-9]*[0-9]" formControlName="OL"></td>
                    <td>{{compute(i)}}</td>
                </tr>
            </tbody>
        </table>
       </form>
       </fieldset>  
    <!-- </div> -->
  <!-- </div> -->
</div>