<div id="wrapper"  [ngClass]="{'toggled': toggled===true}">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li>
            <a class="menu-toggle" id="menu-toggle" (click)="toggled == false ? addClass(toggled=true) : removeClass(toggled=false)">
              <i class="fa fa-navicon fa-lg"></i><span class="desc">Firms</span>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <!-- <div> -->
                <a [routerLink]="['./', {outlets: {'surveyroute': ['NewSurvey']}}]" (click)="addFirm()">
                  <i class="fa fa-plus"></i><span class="desc">&nbsp;ADD NEW FIRM</span>
                </a>
                <!-- <button type="button" [routerLinkActive]="['active']" [routerLink]="['./', {outlets: {'surveyroute': ['NewSurvey']}}]" (click)="addFirm()" class="btn btn-success btn-sm pull-right"><i class="fa fa-plus"></i>&nbsp;Add New Firm</button> -->
            <!-- </div> -->
          </li>
          <li class="divider"></li>
          <li>
            <a >
                <i class="fa fa-search"></i><span class="desc"><input type="text" (click)="searchFirm(firmSearch)" [(ngModel)]="firmSearch.firmSearch" class="form-control input-sm" placeholder="search..."/></span>
            </a>
          </li>
          <li class="divider"></li>
          <!--<li *ngFor="let menu of menus" [class.selected]="menu === selectedMenu" (click)="onSelect(menu)">
            <a routerLink={{menu.path}}>
          </li>-->
          <li *ngFor="let firmlist of firmlist"><a><i class="fa fa-university"></i><span class="desc">{{firmlist.firmID}}</span></a></li>
        </ul>
    </div>
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
            <router-outlet name="surveyroute"></router-outlet>
        </div>
        <!-- <div class="tab-content">
          <div class="tab-pane fade in active" id="company_profile">
            <app-company-profile></app-company-profile>
          </div>
          <div class="tab-pane fade" id="firm_demographics">
            <app-firm-demographics></app-firm-demographics>
          </div>
          <div class="tab-pane fade" id="firm_leadership_demographics">
            <app-firm-leadership-demographic></app-firm-leadership-demographic>
          </div>
        </div> -->
      </div>
      
    </div>
  </div>