<div id="wrapper"  [ngClass]="{'toggled': toggled===true}">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li>
            <a class="menu-toggle" id="menu-toggle" (click)="toggled == false ? addClass(toggled=true) : removeClass(toggled=false)">
              <i class="fa fa-navicon fa-lg"></i><span class="desc">Firms</span>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <div class="container-fluid">
              <input type="text" class="form-control input-sm" placeholder="search..."/>
            </div>
          </li>
          <li class="divider"></li>
          <!--<li *ngFor="let menu of menus" [class.selected]="menu === selectedMenu" (click)="onSelect(menu)">
            <a routerLink={{menu.path}}>
          </li>-->
          <li><a><i class="fa fa-university"></i><span class="desc">Firm 1</span></a></li>
          <li><a><i class="fa fa-university"></i><span class="desc">Firm 2</span></a></li>
          <li><a><i class="fa fa-university"></i><span class="desc">Firm 3</span></a></li>
          <li><a><i class="fa fa-university"></i><span class="desc">Firm 4</span></a></li>
          <li>
            <div class="container-fluid">
              <button type="button" class="btn btn-success btn-sm pull-right"><i class="fa fa-plus"></i>&nbsp;Add New Firm</button>
            </div>
          </li>
        </ul>
    </div>
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <app-save-bar></app-save-bar>
          <!-- <counter (updateChildFormToParent)=  getChild($event)></counter> -->
        </div>
        <hr />
        <div class="row">
          <!-- <div id="company_profile">
            <h4 class="panel-title "><b>Company Profile</b></h4>
            <app-company-profile></app-company-profile>
          </div> -->
            <!-- <ul class="nav nav-pills btn-xs">
                <li role="presentation" class="active">
                    <a href="#company_profile" aria-controls="company_profile" role="tab" data-toggle="tab">Company<br />Profile</a>
                </li>
                <li role="presentation">
                    <a href="#firm_demographics" aria-controls="firm_demographics" role="tab" data-toggle="tab">Overall Firm<br />Demographics</a>
                </li>
                <li role="presentation">
                    <a href="#firm_leadership_demographics" aria-controls="firm_leadership_demographics" role="tab" data-toggle="tab">Firm Leadership/Management<br />Demographic Profile</a>
                </li>
                <li role="presentation">
                    <a href="#company_profile" aria-controls="company_profile" role="tab" data-toggle="tab">Number of Promotions<br /> from Associate to Partner</a>
                </li>
                <li role="presentation">
                    <a href="#company_profile" aria-controls="company_profile" role="tab" data-toggle="tab">Lawyers Who Left The Firm<br />(Include Voluntary and Involuntary)</a>
                </li>
                <li role="presentation">
                    <a href="#company_profile" aria-controls="company_profile" role="tab" data-toggle="tab">Hires</a>
                </li>
                <li role="presentation">
                    <a href="#company_profile" aria-controls="company_profile" role="tab" data-toggle="tab">Lawyers Working<br />Reduced Hours Schedule</a>
                </li>
                <li role="presentation">
                    <a href="#company_profile" aria-controls="company_profile" role="tab" data-toggle="tab">Top 10% Highest<br />Compensated Partners</a>
                </li>
                <li role="presentation">
                    <a href="#company_profile" aria-controls="company_profile" role="tab" data-toggle="tab">Undertaken<br />Initiatives/Actions</a>
                </li>
            </ul> -->
            <!--<div class="panel panel-primary">
                <div class="panel-heading"> 
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="">Company Profile</a> 
                    </h4>
                </div>
                <div class="panel-collapse collapse"> 
                    <div class="panel-body"> 
                      <h4>RAWR</h4>
                    </div>
                </div>
            </div> -->
            <div class="panel-group" id="accordion">
              <div class="panel panel-primary" id="accordion">
                  <div class="panel-heading"> 
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_CP">Company Profile</a> 
                      </h4>
                  </div>
                  <div id="collapse_CP" class="panel-collapse collapse"> 
                      <div class="panel-body">
                        <div class="container-fluid">
                          <app-company-profile (updateChildFormToParent)=  getChild($event)></app-company-profile>
                        </div> 
                      </div>
                  </div>
              </div>
              <div class="panel panel-primary" id="accordion">
                  <div class="panel-heading"> 
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_OFD">Overall Firm Demographics</a> 
                      </h4>
                  </div>
                  <div id="collapse_OFD" class="panel-collapse collapse"> 
                      <div class="panel-body">
                        <div class="container-fluid">
                          <app-firm-demographics></app-firm-demographics>
                        </div> 
                      </div>
                  </div>
              </div>
              <div class="panel panel-primary" id="accordion">
                  <div class="panel-heading"> 
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_FLMDP">Firm Leadership/Management Demographic Profile</a> 
                      </h4>
                  </div>
                  <div id="collapse_FLMDP" class="panel-collapse collapse"> 
                      <div class="panel-body">
                        <div class="container-fluid">
                          <app-firm-leadership-demographic></app-firm-leadership-demographic>
                        </div> 
                      </div>
                  </div>
              </div>
              <div class="panel panel-primary" id="accordion">
                  <div class="panel-heading"> 
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_PAP">Number of Promotions from Associate to Partner</a> 
                      </h4>
                  </div>
                  <div id="collapse_PAP" class="panel-collapse collapse"> 
                      <div class="panel-body">
                        <div class="container-fluid">
                          <app-promotions-assoc-partner></app-promotions-assoc-partner>
                        </div> 
                      </div>
                  </div>
              </div>
              <div class="panel panel-primary" id="accordion">
                  <div class="panel-heading"> 
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_LWLTF">Lawyers Who Left The Firm(Include Voluntary and Involuntary)</a> 
                      </h4>
                  </div>
                  <div id="collapse_LWLTF" class="panel-collapse collapse"> 
                      <div class="panel-body">
                        <div class="container-fluid">
                            <app-lawyers-left></app-lawyers-left>
                        </div> 
                      </div>
                  </div>
              </div>
              <div class="panel panel-primary" id="accordion">
                  <div class="panel-heading"> 
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_H">Hires</a> 
                      </h4>
                  </div>
                  <div id="collapse_H" class="panel-collapse collapse"> 
                      <div class="panel-body">
                        <div class="container-fluid">
                            <app-lawyers-joined></app-lawyers-joined>
                        </div> 
                      </div>
                  </div>
              </div>
              <div class="panel panel-primary" id="accordion">
                  <div class="panel-heading"> 
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_LWRHS">Lawyers Working Reduced Hours Schedule</a> 
                      </h4>
                  </div>
                  <div id="collapse_LWRHS" class="panel-collapse collapse"> 
                      <div class="panel-body">
                        <div class="container-fluid">
                            <app-lawyers-reduced-hours></app-lawyers-reduced-hours>
                        </div> 
                      </div>
                  </div>
              </div>
              <div class="panel panel-primary" id="accordion">
                  <div class="panel-heading"> 
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_HCP">Top 10% Highest Compensated Partners</a> 
                      </h4>
                  </div>
                  <div id="collapse_HCP" class="panel-collapse collapse"> 
                      <div class="panel-body">
                        <div class="container-fluid">
                            <app-top-ten-highest-compensated-partners></app-top-ten-highest-compensated-partners>
                        </div> 
                      </div>
                  </div>
              </div>
              <div class="panel panel-primary" id="accordion">
                  <div class="panel-heading"> 
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_UIA">Undertaken Initiatives/Actions</a> 
                      </h4>
                  </div>
                  <div id="collapse_UIA" class="panel-collapse collapse"> 
                      <div class="panel-body">
                        <div class="container-fluid">
                            <app-undertaken-initiatives></app-undertaken-initiatives>
                        </div> 
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <!-- <div class="tab-content">
          <div class="tab-pane fade in active" id="company_profile">
            <app-company-profile></app-company-profile>
          </div>
          <div class="tab-pane fade" id="firm_demographics">
            <app-firm-demographics></app-firm-demographics>
          </div>
          <div class="tab-pane fade" id="firm_leadership_demographics">
            <app-firm-leadership-demographic></app-firm-leadership-demographic>
          </div>
        </div> -->
      </div>
      
    </div>
  </div>